.cs-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-3);
  margin: var(--space-6) 0 var(--space-19);
}

/* Mobile */
@media (max-width: 576px) {
  .cs-links {
    flex-direction: column;
    align-items: stretch;
  }
}
